<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="home.css">
</head>
<body>
    <nav>
        <a href="register.html">Login</a>
        <a href="register.html">Register Here</a>
        <a href="https://pubchem.ncbi.nlm.nih.gov/">Visit PubChem </a>
    </nav>
    <div>
        <h3>Please Login before searching: </h3>
    <br>
    </div>
    <form id="login" action="/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"> <br> 
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"> <br>
        <input type="submit" value="Login">
    </form>
    <h3> Search Database Here: </h3>
    <form id = "search-bar" method="POST">
        <input type="text" name="search" placeholder="Search">
        <input type="submit" value="Search">
    </form>
</body>
</html>