<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <form id="login" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"> <br> 
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"> <br>
        <input type="submit" value="Login">
    </form>
    <h3> Search Database Here: </h3>
    <form id = "search bar" method="POST">
        <input type="text" name="search" placeholder="Search">
        <input type="submit" value="Search">
    </form>
</body>
</html>